
html{
    height: 100%;
}

header{
    background: #363636;
    color: #363636;
    padding-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h1{
    color: #FFFF00;
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
}

.container{
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}

.container2{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.menu-inicial{
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid #FFFF00;
    background: #FFFF00;
    border-radius: 5px;
    align-items: center;
}

main{
    background: #F7DCD6;
    display: flex;
    justify-content: center;
    min-height: 600px;
}

.filmes{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding: 1%;
    justify-content: flex-start;
    
}

.filmes_unidade{
    width: 20%;
    margin: 2% 2%;
}

footer{
    background: #363636;
    margin-top: auto;
}

.container-footer{
    display: flex;
    justify-content: center;
}

.container-footer img{
    width: 2%;
    height: 2%;
    margin-right: 2%;
    margin-left: 2%;
    padding-top: 1%;
}

footer p{
    color: #FFFF00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
    padding-bottom: 0.5%;
}

/* parte mobile */

@media(max-width: 768px){
    header .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .menu-inicial{
        margin: 2%;
        border: none;
        color: #FFFF00;
        background: #363636;
        text-decoration: underline;
    }

    .container2{
        flex-direction: column;
        width: auto;
    }

    .filmes{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .filmes_unidade{
        width: 50%;
    }

    .container-footer{
        width: auto;
        align-items: center;
        justify-content: center;
    }

    .container-footer img{
        width: 25px;
        height: 25px;
    }

    footer p{
        margin-top:2%
    }

}